<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<meta name="viewport" content = "width=device-width, initial-scale=1.0">

{% include 'header.html' %}


<body class="body" style="background-color: rgb(245,245,245)">
<div class="jumbotron">
  <div class="container">
  <h2>Welcome to the Peercoin Simple Assets (PSA) Web Client!</h2>
  <p>We are currently under development. Please contact embeddedthought@gmail.com or message Saeveritt on Peercointalk.org
  regarding any inquiry. </p>
  </div>
</div>
</body>

<script type = "text/javascript" src="http://www.peercoinwisdom.com/static/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  </ul>
</html>

